<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class=" logo d-none d-md-inline-block" href="#">Theertha</a>
    <a class="py-3 d-none d-md-inline-block" href="#">Services</a>
    <a class="py-3 d-none d-md-inline-block" href="#">About</a>
    <a class="py-3 d-none d-md-inline-block" href="#">Contact Us</a>
    <a class="py-3 d-none d-md-inline-block" href="#">Project</a>
    <a class="py-3 d-none d-md-inline-block" href="#">Furniture</a>
    <a class="py-3 d-none d-md-inline-block" href="#">Our Clients</a>
  </div>
</nav>
